div
{
    text-align: center;
    padding: 50px;
    margin: 25px 400px;
    border-color: black;
    border-style: solid;
}
input
{
    padding: 60px;
    margin: 5px;
    font-size: 0%;
}
.answers
{
    margin: 25px 400px;
    border-color: black;
    border-style: solid;
}
table
{
    text-align: center;
    margin: auto;
}
td
{
    padding: 2px 50px;
    border-style: solid;
}