div
{
    text-align: center;
    padding: 50px;
}
input
{
    padding: 50px;
    font-size: 0% !important;
    border-radius: 20%
}
.answers
{
    border-color: black;
    border-style: solid;
    border-radius: 2%
}
table
{
    text-align: center;
    margin: auto;
}
td
{
    padding: 2px 50px;
    border-style: solid;
}
.container
{
  max-width: 500px !important;
}