div
{
    text-align: center;
    padding: 50px;
}
input
{
    padding: 50px;
    font-size: 0% !important;
    border-radius: 20%;
    border-color: black;
}
.container
{
  max-width: 500px !important;
}